html, body{
    margin: 0px;
    box-sizing: border-box;
}

header{
    padding: 3%;
    text-align: center;
    border: 2px solid black;
    background-color: black;
}

h1{
    color: white;
    font-size: 60px; 
}